* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../imgs/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

div h1 {
    width: 500px;
}

div .parent {
    position: absolute;
}

#trigger { 
    position: absolute;
     background-color: darkmagenta; 
     width: 230px; 
     height: 6px; 
     left: 56%; 
     top: 50%; 
     z-index: 3; 
     clip-path: polygon(90% 4%, 0% 0%, 100% 0px);
 }

.arrow {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../imgs/arrow.png) no-repeat;
    background-size: 9%;
    left: 65%;
    top: 46%;
    z-index: 2;
}

h1 {
    border: 4px solid rgba(255,255,255,.5);
    font-family: 'Bangers', cursive;
    font-size: 100px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 12px 12px rgba(0,0,0,0.5);
  
        /* Fallback: Set a background color. */
        background-color: #fff;
        
        /* Create the gradient. */
        background-image: linear-gradient(90deg, #eaeef2, #b8cbe1);
        
        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;
      
        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;  
        -webkit-text-stroke: .05px #0d2847;
}




  

.container {
    position: relative;
    overflow: hidden;
    transition: 5s;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 500px;
    border: 14px solid #fff; 
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;

}


.arrow {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../imgs/arrow.png) no-repeat;
    background-size: 9%;
    left: 65%;
    top: 46%;
    z-index: 2;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 200px;
    color: #f4f4f4;
    left: 135px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif; 
}

.container .luffy {
    background-color: orange;
    /* left: 50%; */
    transform: rotate(0deg);
}
.container .midoriya {
    background-color: yellowgreen;
    transform: rotate(45deg);
}
.container .vermillion {
    background-color: darkcyan;
    transform: rotate(90deg);
}
.container .asta {
    background-color: lightcoral;
    transform: rotate(135deg);
}
.container .tanjiro {
    background-color: thistle;
    transform: rotate(180deg);
}
.container .zoro {
    background-color: cornflowerblue;
    transform: rotate(225deg);
}
.container .naruto {
    background-color: darkmagenta;
    transform: rotate(270deg);
}
.container .naofumi {
    background-color: darkred;
    transform: rotate(315deg);
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #051461;
    text-transform: uppercase;
    border: 8px solid #f4f4f4;
    font-weight: bold;
    font-size: 20px;
    color: #f4f4f4;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;

}